@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');

:root {
    --cor__de__fundo: #000000;
    --cor__secundaria:   #146C94;
    --cor__principal: #F6F1F1;
    --hover__color: #272727;
    --fonte__link:   #000000;
    --fonte__principal: 'Krona One';
    --fonte__secundaria: 'Montserrat'
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor__de__fundo);
    color: var(--cor__principal);
    box-sizing: border-box;
}

.header {
    padding: 2% 0% 0% 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family: var(--fonte__secundaria);
    font-weight: 600;
    font-size: 24px;
    color: var(--cor__secundaria);
    text-decoration: none;
}

.container__principal {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__secundario {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.titulo__principal {
    font-size: 36px;
    font-family: var(--fonte__principal);
}

.titulo__destaque {
    color: var(--cor__secundaria);
}

.subtitulo__principal {
    font-size: 24px;
    font-family: var(--fonte__secundaria) ;
}

.botao {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center ;
    gap: 32px;
}

.subtitulo__secundario {
    font-family: var(--fonte__principal);
    font-weight: 400;    
    font-size: 24px;
}


.botao__style {
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--cor__principal);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid var(--cor__secundaria);
    
}

.botao__style:hover{
    background-color: var(--hover__color);
    border-radius: 20px;
    transition: 0.8s;
}

.footer {
    color: var(--fonte__link);
    background-color: var(--cor__secundaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte__secundaria);
    font-weight: 400;
    font-size: 24px;
}